:root{
    --body-padding: 20px;
    --btn-size: 75px;
    --grid-gap: 10px;
}

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    color: white;
}

::selection{
    background: none;
}

img{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR */
.calculator{
    margin: 1rem;
    width: calc(4 * var(--btn-size) + 3 * var(--grid-gap) + 2 * var(--body-padding));
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.5);
    overflow: hidden;
}

/* CALCULATOR HEAD */

.calculator__head{
    height: 132px;
    padding: 1rem 2rem;
    background: #0a141f;
}

/* track */

.calculator__head__track{
    height: 23px;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 2rem;
}

/* number */

.calculator__head__number{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 4rem;
    font-weight: 700;
}

/* LINE */

.line{
    background: white;
    height: 5px;
}

/* CALCULATOR BODY */
.calculator__body{
    padding: var(--body-padding) ;
    padding-top: 0;
    background: #0d1b2a;
}

/* nav */

.calculator__body__nav{
    display: flex;
    justify-content: flex-end;
}

/* buttons */
.button{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.5rem;
}

.delete{
    cursor: pointer;
    width: var(--btn-size);
}

.button--grey{
    background: rgba(255, 255, 255, 0.5);
}

.button--grey:hover{
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.button--orange{
    background: rgba(252, 163, 17, 0.9);
}

.button--orange:hover{
    background: rgba(252, 163, 17, 1);
}

.button--lightorange{
    background: rgba(252, 163, 17, 0.3);
}

.button--lightorange:hover{
    background: rgba(252, 163, 17, 0.7);
}

/* button grid */
.calculator__body__buttons{
    display: grid;
    grid-template-columns: repeat(4, var(--btn-size));
    grid-template-rows: repeat(5, var(--btn-size));

    grid-template-areas: 
    "clear clear clear divide"
    "b7 b8 b9 multiply"
    "b4 b5 b6 subtract"
    "b1 b2 b3 add"
    "minus b0 decimal equal";
    gap: var(--grid-gap);
}

#clear{
    grid-area: clear;
}
#divide {
    grid-area: divide;
}
#b7 {
    grid-area: b7;
}
  #b8 {
    grid-area: b8;
}
#b9 {
    grid-area: b9;
}
#multiply {
    grid-area: multiply;
}
#b4 {
    grid-area: b4;
}
#b5 {
    grid-area: b5;
}
#b6 {
    grid-area: b6;
}
#subtract {
    grid-area: subtract;
}
#b1 {
    grid-area: b1;
}
#b2 {
    grid-area: b2;
}
#b3 {
    grid-area: b3;
}
#add {
    grid-area: add;
}
#minus {
    grid-area: minus;
}
#b0 {
    grid-area: b0;
}
#decimal {
    grid-area: decimal;
}
#equal {
    grid-area: equal;
}
  